<ng-container *ngIf="this.mSharedPreferences.trendingShow">
<section class="women section" id="women">
    <h2 class="section-title">TRENDING</h2>

    <div class="women__container bd-grid">
        <article class="sneaker">
            <img src="assets/img/women1.png" alt="" class="sneaker__img">
            <span class="sneaker__name">Nike Free TR</span>
            <span class="sneaker__preci">$229.99</span>
            <a href="" class="button-light">Add To Cart <i class='bx bx-right-arrow-alt button-icon' ></i></a>
        </article>

        <article class="sneaker">
            <img src="assets/img/samsungs21.png" alt="" class="sneaker__img">
            <span class="sneaker__name">Samsung S21 Ultra 5G</span>
            <span class="sneaker__preci">$1599.99</span>
            <a href="" class="button-light">Add To Cart <i class='bx bx-right-arrow-alt button-icon' ></i></a>
        </article>

        <article class="sneaker">
            <img src="assets/img/women3.png" alt="" class="sneaker__img">
            <span class="sneaker__name">Nike GS Pink</span>
            <span class="sneaker__preci">$219.99</span>
            <a href="" class="button-light">Add To Cart <i class='bx bx-right-arrow-alt button-icon' ></i></a>
        </article>

        <article class="sneaker">
            <img src="assets/img/women4.png" alt="" class="sneaker__img">
            <span class="sneaker__name">Nike S Pupink</span>
            <span class="sneaker__preci">$119.99</span>
            <a href="" class="button-light">Add To Cart <i class='bx bx-right-arrow-alt button-icon' ></i></a>
        </article>
    </div>
</section>
</ng-container>