<ng-container *ngIf="this.mSharedPreferences.newsletterShow">
<section class="newsletter section">
    <div class="newsletter__container bd-grid">
        <div>
            <h3 class="newsletter__title">Subscribe and get <br> 10% OFF!</h3>
            <p class="newsletter__description">Get 10% discount for all products you buy on our shop!</p>
        </div>

        <form action="" class="newsletter__subscribe">
            <input type="text" placeholder="example@email.com" class="newsletter__input">
            <a href="#" class="button">Subscribe</a>
        </form>
    </div>
</section>
</ng-container>
