
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          
          
          <form #userlogin = "ngForm" (ngSubmit) = "onClickSignup(userlogin.value)" class="sign-in-form">  
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type = "text" name = "emailid" placeholder = "emailid" ngModel>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type = "password" name = "passwd" placeholder = "passwd" ngModel>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type = "text" name = "mobile" placeholder = "mobile no" ngModel>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type = "text" name = "picture" placeholder = "picture" ngModel>
            </div>
            <input type="submit" value="Signup" class="btn solid" />
            <p class="social-text">Or Sign in with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
          
      
       </div>      
      </div>
    </div>

  
